# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> CUSTOM VARS ###
AMAZON_APP_ID=amzn1.ask.skill.b702f9fc-fe01-4fcb-bdbd-fbd85629b491
RADIO_STREAM_URI=https://www.morow.com/morow.m3u
###< CUSTOM VARS ###

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=7fba070dc8b7369ae0a31d62e331db71
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###
