parameters:
  stream_uri: https://stream_uri

hooks:
  beforePlay:
    fr-FR: "Bienvenue! dynamic field with %api.live:track.title.path%"
    en-US: "Welcome!"
    en-GB: en-US
    en-Ca: en-US
  onAir:
    fr-FR: "Vous écoutez %api.live:track.title%"
    en-US: "You're listening to..."

endpoints:
  api.live:
    source: https://site.com/api
    type: json|xml